<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Chinese (Simplified)</string>
		<key>language</key>
		<string>zh-CN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chinese (Traditional)</string>
		<key>language</key>
		<string>zh-TW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>English</string>
		<key>language</key>
		<string>en</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Danish</string>
		<key>language</key>
		<string>da</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dutch</string>
		<key>language</key>
		<string>nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Finnish</string>
		<key>language</key>
		<string>fi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>French</string>
		<key>language</key>
		<string>fr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>German</string>
		<key>language</key>
		<string>de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Greek</string>
		<key>language</key>
		<string>el</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Indonesian</string>
		<key>language</key>
		<string>id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Italian</string>
		<key>language</key>
		<string>it</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Japanese</string>
		<key>language</key>
		<string>ja</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Korean</string>
		<key>language</key>
		<string>ko</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Malay</string>
		<key>language</key>
		<string>ms</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Norwegian</string>
		<key>language</key>
		<string>no</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Portuguese</string>
		<key>language</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Russian</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spanish</string>
		<key>language</key>
		<string>es</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Swedish</string>
		<key>language</key>
		<string>sv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thai</string>
		<key>language</key>
		<string>th</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Turkish</string>
		<key>language</key>
		<string>tr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vietnamese</string>
		<key>language</key>
		<string>vi</string>
	</dict>
</array>
</plist>
