<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>自动检测</string>
		<key>language</key>
		<string>auto</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中文(简体)</string>
		<key>language</key>
		<string>zh-CN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中文(繁体)</string>
		<key>language</key>
		<string>zh-TW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>英语</string>
		<key>language</key>
		<string>en</string>
	</dict>
	<dict>
		<key>name</key>
		<string>丹麦语</string>
		<key>language</key>
		<string>da</string>
	</dict>
	<dict>
		<key>name</key>
		<string>荷兰语</string>
		<key>language</key>
		<string>nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>芬兰语</string>
		<key>language</key>
		<string>fi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>法语</string>
		<key>language</key>
		<string>fr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>德语</string>
		<key>language</key>
		<string>de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>希腊语</string>
		<key>language</key>
		<string>el</string>
	</dict>
	<dict>
		<key>name</key>
		<string>印尼语</string>
		<key>language</key>
		<string>id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>意大利语</string>
		<key>language</key>
		<string>it</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日语</string>
		<key>language</key>
		<string>ja</string>
	</dict>
	<dict>
		<key>name</key>
		<string>韩语</string>
		<key>language</key>
		<string>ko</string>
	</dict>
	<dict>
		<key>name</key>
		<string>马来语</string>
		<key>language</key>
		<string>ms</string>
	</dict>
	<dict>
		<key>name</key>
		<string>挪威语</string>
		<key>language</key>
		<string>no</string>
	</dict>
	<dict>
		<key>name</key>
		<string>葡萄牙语</string>
		<key>language</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>俄语</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>西班牙语</string>
		<key>language</key>
		<string>es</string>
	</dict>
	<dict>
		<key>name</key>
		<string>瑞典语</string>
		<key>language</key>
		<string>sv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>泰语</string>
		<key>language</key>
		<string>th</string>
	</dict>
	<dict>
		<key>name</key>
		<string>土耳其语</string>
		<key>language</key>
		<string>tr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>越南语</string>
		<key>language</key>
		<string>vi</string>
	</dict>
</array>
</plist>
