<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>中文(簡體)</string>
		<key>language</key>
		<string>zh-CN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中文(繁體)</string>
		<key>language</key>
		<string>zh-TW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>英语</string>
		<key>language</key>
		<string>en</string>
	</dict>
	<dict>
		<key>name</key>
		<string>丹麥文</string>
		<key>language</key>
		<string>da</string>
	</dict>
	<dict>
		<key>name</key>
		<string>荷蘭文</string>
		<key>language</key>
		<string>nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>芬蘭文</string>
		<key>language</key>
		<string>fi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>法文</string>
		<key>language</key>
		<string>fr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>德文</string>
		<key>language</key>
		<string>de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>希臘文</string>
		<key>language</key>
		<string>el</string>
	</dict>
	<dict>
		<key>name</key>
		<string>印尼文</string>
		<key>language</key>
		<string>id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>義大利文</string>
		<key>language</key>
		<string>it</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日文</string>
		<key>language</key>
		<string>ja</string>
	</dict>
	<dict>
		<key>name</key>
		<string>韓文</string>
		<key>language</key>
		<string>ko</string>
	</dict>
	<dict>
		<key>name</key>
		<string>馬來文</string>
		<key>language</key>
		<string>ms</string>
	</dict>
	<dict>
		<key>name</key>
		<string>挪威文</string>
		<key>language</key>
		<string>no</string>
	</dict>
	<dict>
		<key>name</key>
		<string>葡萄牙文</string>
		<key>language</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>俄文</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>西班牙文</string>
		<key>language</key>
		<string>es</string>
	</dict>
	<dict>
		<key>name</key>
		<string>瑞典文</string>
		<key>language</key>
		<string>sv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>泰文</string>
		<key>language</key>
		<string>th</string>
	</dict>
	<dict>
		<key>name</key>
		<string>土耳其文</string>
		<key>language</key>
		<string>tr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>越南文</string>
		<key>language</key>
		<string>vi</string>
	</dict>
</array>
</plist>
